<div class="elements">
    <div class="elements events">
        <div class="element">
            <fieldset>
                <legend>Möten</legend>
            </fieldset>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="element">
            <fieldset>
                <legend>Inbjudningar</legend>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
                <p>Lorem ipsum</p>
            </fieldset>
        </div>
    </div>
    <div>
        <div id="goToCreateMeeting" class="createMeetingButtons">Skapa Möte</div>
    </div>
</div>
