@model Tuple<List<Kommunikationsverktyg_för_informatik.ViewModels.MeetingInvitationsViewModels>>

<div class="elements">
    <div class="elements events">
        <div class="element">
            <fieldset>
                <legend>Möten</legend>
            </fieldset>
            <p>Lorem ipsum</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="element">
            <fieldset>
                <legend>Inbjudningar</legend>
                @foreach(Kommunikationsverktyg_för_informatik.ViewModels.MeetingInvitationsViewModels item in Model.Item1)
                {
                    <div id="@item.MeetingID" class="specific scrollItem">@item.Subject, @item.Sender</div>
                }
            </fieldset>
        </div>
    </div>
    <div>
        <div id="goToCreateMeeting" class="createMeetingButtons">Skapa Möte</div>
    </div>
</div>
