@model List<Kommunikationsverktyg_för_informatik.ViewModels.MeetingInvitationsViewModels>
<div id="Meeting">
    @{ Html.RenderPartial("_MeetingPartial", Tuple.Create(Model));}
</div>
@section Scripts
{
    @Scripts.Render("~/Scripts/Meeting.js")
}
<link href="~/Content/Meeting.css" rel="stylesheet" />