.date
{
    font-weight: bold;
}

img
{
    max-width: 100%;
}

.elements 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.element__item 
{
  border: 1px solid black;
  border-radius: 5px;
  margin: 1px;
  padding-left: 2px;
  padding-right: 2px;
  height: 80px;
  width: 140px;
  /*background-color: red;*/
}

.element__day 
{
  width: 140px;
  text-align: center;
  /*background-color: red;*/
}

.grey
{
    background-color: grey;
    opacity: 0.4;
}

.grey:hover
{
    opacity: 1;
}

.regular
{
}

.regular:hover
{
    box-shadow: 0px 0px 2px 2px lightblue;
}

.vecka
{
	margin-right: 5px;
}

.meeting
{
	font-size: 10px;
	font-family: "Times New Roman";
}

#monthTitle
{
    font-size: 24px;
    font-weight: bold;
}

#Month
{
    display:inline-block;
	margin: auto;
	width: 80%;
}

.pointer
{
    opacity: 0.6;
}

.pointer:hover
{
    cursor: pointer;
    opacity: 1;
}

.day
{
    font-weight: bold;
    font-size: 16px;
}

#cal
{
    margin-top: 25px;
}