#Meeting
{
    margin-top: 20px;
}

.elements 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.element
{
    margin: 0px, 20px, 0px, 20px;
    padding: 20px;
    width: 350px;
}

#superDiv .element
{
    width: 220px;
}

#superDiv .element ul
{
    min-height: 20px;
}

#buttons
{
    float: right;
}

.events
{
    align-items: baseline;
}

#Meeting #creatMeetingTable
{
    width: 100%;
}

#Meeting #creatMeetingTable td
{
    height: 60px;
}

#Meeting #creatMeetingTable input
{
    float: right;
}

.createMeetingButtons
{
    margin-left: 20px;
    margin-bottom: 40px;
    color: black;
    background-color: lightgrey;
    height: 70px;
    width: 200px;
    font-size: 2em;
    padding-top: 10px;
    box-shadow: 2px 2px 2px #888888;
    border-radius: 15px;
    border: 5px solid lightgrey;
    text-align:center;
}

.createMeetingButtons:hover
{
    cursor: pointer;
}

#addTime
{
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    box-shadow: 2px 2px 2px #888888;
    border: 5px solid lightgrey;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

#addTime:hover
{
    cursor: pointer;
}

#answer
{
    height: 350px;
}

#answer fieldset
{
    padding: 0px;
    margin:20px;
}

#answer fieldset legend
{
    padding: 0px;
    margin: 0px;
}

#acceptTimesButton
{
    background-color: lightgrey;
    width: 80%;
    height: 80px;
    margin: auto;
    box-shadow: 2px 2px 2px #888888;
    border-radius: 15px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding-top: 10px;
}

#acceptTimesButton:hover
{
    cursor:pointer;
}

.info
{
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

.info:not(.header)
{
    margin-bottom: 10px;
    text-align: center;
}

.header
{
    border-bottom: 1px solid grey;
    color: navy;
}

.option
{
    transform: scale(1.4);
}

#acceptForm div
{
    margin-bottom: 30px;
}

.disable
{
    pointer-events: none;
    opacity: 0.5;
}

h3, h1
{
    padding: 0;
    margin: 0;
}

#inbjudna
{   
    border: none;
}

#details legend
{
    margin: 0;
    padding: 0;
}

#chosenTime
{
    font-size: 2em;
    padding-bottom: 20px;
}

.confirmText
{
    font-weight:bold;
    font-size: 22px;
    border-bottom: 1px solid lightgrey;
}

/*==================================================================================================
    Scroll List
==================================================================================================*/
@import "compass/css3";

* 
{
    box-sizing: border-box;
}

#Meeting td
{
    background-color: white;
    padding: 10px;
}

.scrollList
{
    height: 400px;
    width: 200px;
    top: 80px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    font-size: 16px;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

#answer .scrollList
{
    width: 100%;
    height: 300px;
    border: none;
}

#confirm .scrollList
{
    width: 100%;
    border: none;
}

#details .scrollList
{
    height: 200px;
    width: 100%;
}

#details .scrollItem
{
    text-align: center;
    list-style: none;
}

#details .scrollItem:hover
{
    cursor: default;
}

#creatMeetingTable .scrollList
{
    height: 200px;
}

.scrollItem
{
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.scrollItem:hover
{
    cursor: pointer;
}

.scrollItem:last-child
{
    border-bottom: none;
}

.scrollItem:nth-child(even)
{
    background: #f8f8f8;
}