body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom styles*/
.div-blogEntryMainRes {
    width: 80%;
    padding: 1% 5% 1% 5%;
    height: 100%;
    background-color: palegreen;
    overflow: hidden;
    border: 1px solid cornflowerblue;
}
    .div-blogEntryMainEdu {
    width: 80%;
    padding: 1% 5% 1% 5%;
    height: 100%;
    background-color: thistle;
    overflow: hidden;
    border: 1px solid cornflowerblue;
}
.div-blogEntryMain {
    width: 80%;
    padding: 1% 5% 1% 5%;
    height: 100%;
    background-color: lightblue;
    overflow: hidden;
    border: 1px solid cornflowerblue;
}
.margin5 {
    margin: 0 0 5% 0;
}
#div-blogEntryEditDelete {
    float:right;
}
#div-blogCategory {
    overflow: hidden;
    width: 80%;
    padding-bottom: 2%;
}
#div-blogCategoryFilter {
    width: 70%;
    float: right;
}
#div-blogCategoryButtons {
    float: right;
    width: 60%;
}

#blogText {
    background-color: inherit;
}
#btn-filter {
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    width: 30%;
}
#dropdown-Filter {
    float: left;
    width: 70%;
}

#h4-category {
    width: 30%;
    margin: 0;
    float: left;
}
#txtarea-createpost {
    resize: none;
    width: 80%;
    max-width: 80%;
    height: 200px;
}
.btnComment {
    float: left;
    margin: 10px 0 10px 0;
}
.inputComment {
    min-width: 40%;
    margin: 10px 5px 10px 1%;
    float: left;    
    resize: none;
    overflow: hidden;
}
.blogComments {
    background-color : gainsboro;
    width : 100%;
    float : left;
    height : 100%;
    border-radius: 5px;
}
.commentMain {
    width : 97%;
    border-radius : 5px;
    float : left;
    background-color : antiquewhite;
    margin: 10px;
}
.commentContent {
    word-break : break-all;
    margin: 5px 5px 5px 5px;
}
.commentDate {
    font-size: small;
    margin: 5px 5px 5px 5px;
}
.commentAuthor {
    margin: 5px 5px 5px 5px;
}
.linkComment {
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
}
#div-blogEntryAttachedFile {
    margin-bottom: 10px;
}
.smallPic {
    height: 100px;
    width: 100px
}
.Icon:hover {
    -webkit-filter: brightness(100) !important;
}

.IconBlog:hover {
    -webkit-filter: brightness(100);
}
.bottomleft {

    position: absolute;
    bottom: 15px;
    left: 16px;
    font-size: 17px;
    color: wheat;
    text-align: center;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.number {
    position: absolute;
}


#loggedInAs {
    color: black;
}
#loginCell {
    border-radius: 7px;
    padding: 2px;
    background-color: #5e889e;
}
}
.login {
    color: azure;
    text-align: center;
}

.smallPic {
    height: 100px;
    width: 100px
}